{%  extends '../base.html'  %}
   {% load crispy_forms_tags %}


{% block title %}
    Home
{% endblock title %}


{% block content %}
  
     <center>
 
        {% for article in articles   %}   <!-- article in object_list --> 
         <div class="mt-2 card" style="width : 40em;">
            <div class="card-header">
                <span class="font-weight-bold">{{ article.title }}</span> &middot;
                <span class="text-muted">by {{ article.author }} |
                {{ article.date }}</span>
                </div>
                <div class="card-body">
                    {{ article.body }} <br/>
                    <a href="{% url 'edit' article.pk %}">Edit</a> | 
                    <a href="{% url 'delete' article.pk %}">Delete</a>
                </div>
                <div class="text-center card-footer text-muted">
                       {% for comment in article.comments.all %}
                            <p>
                            <span class="font-weight-bold">
                               {{ comment.author }} &middot;
                            </span>
                              {{ comment }}
                            </p>
                       {% endfor %}
                </div>
            </div>
            <br />
          {% endfor %}
     </center>

{% endblock content %}